@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h2 class="mb-4">Administration</h2>
        <div class="nav nav-pills flex-column">
            <a asp-controller="Dashboard" asp-action="Index" class="nav-link @ViewBag.Dashboard">Dashborad</a>
            <a asp-controller="GuzelSozler" asp-action="Index" class="nav-link @ViewBag.GuzelSozler">Güzel Sözler</a>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()

    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}